In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2020-10-29 18:14:23,73.51,80.55,4.05,91,66,21.94
1,1,Rikitea,PF,2020-10-29 18:14:53,-23.12,-134.97,74.64,73,100,10.69
2,2,Norman Wells,CA,2020-10-29 18:14:53,65.28,-126.83,11.17,91,10,2.91
3,3,Le Port,RE,2020-10-29 18:14:53,-20.94,55.29,71.60,64,0,25.28
4,4,Los Llanos De Aridane,ES,2020-10-29 18:14:53,28.66,-17.92,71.60,68,75,14.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use your google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
#Create a HeatMap
# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values
max_temp = city_data_df["Max Temp"]
#3 Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#4 Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False,max_intensity=300,point_radius=4)
#5 Add the heatmap layer
fig.add_layer(heat_layer)
#6 Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Port Keats,AU,2020-10-29 18:14:53,-14.25,129.55,81.66,76,78,6.04
6,6,Taoudenni,ML,2020-10-29 18:14:53,22.68,-3.98,87.48,13,0,13.20
14,14,Cockburn Town,TC,2020-10-29 18:14:55,21.46,-71.14,82.85,76,12,18.79
15,15,Sao Jose Da Coroa Grande,BR,2020-10-29 18:14:55,-8.90,-35.15,81.90,65,28,10.27
17,17,Puerto Ayora,EC,2020-10-29 18:14:55,-0.74,-90.35,77.00,73,75,9.17
20,20,Cabo San Lucas,MX,2020-10-29 18:14:56,22.89,-109.91,82.99,50,5,3.36
23,23,Manta,EC,2020-10-29 18:14:56,-0.95,-80.73,80.60,69,20,13.87
25,25,Sanchor,IN,2020-10-29 18:14:57,24.76,71.77,76.75,25,0,3.44
26,26,Olinda,BR,2020-10-29 18:14:57,-8.01,-34.86,84.20,66,20,11.41
32,32,Itoman,JP,2020-10-29 18:14:58,26.12,127.67,75.20,78,75,6.93

In [17]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [19]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp    Lat     Lng Hotel Name
5                 Port Keats      AU     81.66 -14.25  129.55
6                  Taoudenni      ML     87.48  22.68   -3.98
14             Cockburn Town      TC     82.85  21.46  -71.14
15  Sao Jose Da Coroa Grande      BR     81.90  -8.90  -35.15
17              Puerto Ayora      EC     77.00  -0.74  -90.35
20            Cabo San Lucas      MX     82.99  22.89 -109.91
23                     Manta      EC     80.60  -0.95  -80.73
25                   Sanchor      IN     76.75  24.76   71.77
26                    Olinda      BR     84.20  -8.01  -34.86
32                    Itoman      JP     75.20  26.12  127.67

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Port Keats,AU,81.66,-14.25,129.55,TDC Village (Hundred Man Camp)
6,Taoudenni,ML,87.48,22.68,-3.98,
14,Cockburn Town,TC,82.85,21.46,-71.14,Osprey Beach Hotel
15,Sao Jose Da Coroa Grande,BR,81.90,-8.90,-35.15,Crôa Mares Hotel
17,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel
20,Cabo San Lucas,MX,82.99,22.89,-109.91,Hotel Tesoro Los Cabos
23,Manta,EC,80.60,-0.95,-80.73,Balandra Hotel
25,Sanchor,IN,76.75,24.76,71.77,Hotel Amar Palace & AC Restaurant
26,Olinda,BR,84.20,-8.01,-34.86,Hotel 5 Sóis
32,Itoman,JP,75.20,26.12,127.67,Southern Beach Hotel & Resort Okinawa

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]